//https://coolors.co/000000-c20114-666666-596475-2d2d2d
//https://coolors.co/000000-141414-282828-450000-630000
/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    height: $spacing-unit * 1.865;
    // Positioning context for the mobile navigation icon
    //position: relative;
    border-bottom: 0px;
    background-color: $color1;
    xdisplay: flex;
    xflex-direction: row;
    xalign-items: center;

    xbackground-image: linear-gradient(360deg, #000000, #2b0000);
    border-bottom: 1px solid hsla(354.09, 98.97%, 38.24%, 0.25);
    
}

.pc-wrapper
{
    padding: 30px;
}


.logo-wrapper
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    white-space:nowrap;

}

.logo-link
{
    display: flex;
}

.mylogo
{
    width: 32px;
    height: 32px;
    fill: $color3;

    xposition: absolute;
    xtop: 10px;
    xleft: 10px;
/*
    animation-name: logoMove;
    animation-duration: 4s;
*/
    xanimation: logoMove 2s linear;
    xanimation-fill-mode: forwards;
    xanimation-iteration-count: 1;
    xanimation-fill-mode: forwards;


}
/*
@keyframes logoMove
{
    0% 
    { 
        transform: rotate(0deg);   
    }
    100% 
    { 
        xtransform: rotate(360deg); 
        transform: rotate(180deg); 
    }

      
}
*/
use#logo:hover
{
    //fill:$color4 !important;
    //transition: transform 0.3s;
    //transform: scale(1.5,1.5);
}

use#logot:hover
{
    //fill:$color4 !important;
    //transition: transform 0.3s;
    //transform: scale(1.5,1.5);
}

.mylogo:hover
{
    fill:$color4 !important;
    transition: transform 0.3s;
    transform: scale(1.5,1.5);
}




#hamburger:hover
{
    fill: $color4;
}

.site-header
{
    top:-60px;
    position: static;
}


.sticky
{
    transition: all 0.5s ease;
    position: sticky;
    top:0px;
    //top: 1px;
    border-bottom: 1px solid black;


}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  xline-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    font-weight: bold;
    color: $color3;
    
  }
}

.site-title:hover
{
    xcolor:$color4;
}

.social-media-list li
{
    float: left;
}


a.site-title
{
    text-decoration: none;
}
/*
.page-content
{
    margin: 0 !important;
    border-radius: 0 !important;
}
*/
.site-nav {
    float: right;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    xbackground-image: linear-gradient(360deg, #000000, #2b0000);

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $color3;
    text-decoration: none;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: black;
    //border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    align-items: flex-end;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }



    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $color3;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none !important;
      flex-direction: column !important;
    }

    #primary
    {
        margin-bottom: 20px;
        margin: 20px;
        gap: 10px;
    }

    #primary a 
    {
        margin: 0px;
        padding: 0px;
    }

    input:checked ~ .trigger {
      display: flex !important;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  //border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: $color1;

  border-bottom: 1px solid hsla(354.09, 98.97%, 38.24%, 0.25);

  xbackground-image: linear-gradient(180deg, #000000, #2b0000);
}

.footer-heading {
  font-size: 15px;
  margin-top: $spacing-unit * 0.5;
  color: $color3;
  text-align: center;
  margin-bottom: 0px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $color3;
  @extend %clearfix;
}

.footer-col {
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;

  display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;



}






/**
 * Page content
 */
.page-content 
{
    /*xpadding: $spacing-unit 0;*/
    flex: 1;
    background-color: $color3;
    border-radius: 8px;
    width: calc(800px - 30px* 2);

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    @include media-query(800px) 
    {
        width: calc(100% - 40px);
    }
    @include media-query(650px)
    {
        margin: 0 !important;
        border-radius: 0 !important;
        width:auto;
    }

}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: #1ea10cd3;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
.page-link:hover 
{
    color: $color4;
}


.flex-wrap
{
    width: 100%;
    height: 55.95px;
    display: flex;
    justify-content: space-between;
}


.social-media-list
{
    display: flex;
        gap: 20px;
}

.social-media-list a
{
    color:$color3;
    text-decoration: none !important;
    display: block;
    text-align: center;
    width: 16px;
    height: 16px;
}

.social-media-list a:hover, a.u-email:hover
{
    transition: transform 0.3s;

    transform: scale(2,2);
    color: $color4;
}

a.post-link:hover, a.post-link:visited
{
    color:#2a7ae2;
}


#primary
{
    xposition:absolute;
    top:0;
    margin:auto;
    text-align:center;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    height:100%;

    xmargin:0 20px;
    position:relative;

    a{
        text-decoration:none;
        display:block;
        xpadding:5px 0;
        xfont-family:'Open Sans';
        xfont-size:26px;
        xline-height:1;
        xfont-weight:bold;
        position:relative;
        z-index:1;
        text-align: center;

        /*
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        */

        background-clip: text;
        -webkit-text-fill-color: transparent;

        background-image: linear-gradient(to right, $color4, $color4 50%, $color3 50%);

        background-size: 200% 100%;
        background-position: -100%;
        transition: all 0.3s ease-in-out;

        &:before
        {
            display:block;
            content:'';
            width:0;
            height:3px;
            bottom:5px;
            left:0;
            bottom:-3px;
            z-index:0;
            position:absolute;
            background:$color4;
            transition: all 0.3s ease-in-out;
        }
        &:hover
        {
            background-position: 0%;
            &:before
            {
                width:100%;
            }
        }
    }
}





a.flip-animate 
{
    xperspective: 1000px;
    overflow: hidden;
    display: inline-block;
    span 
    {
        position: relative;
        display: inline-block;
        padding: 0;    
        transition: all 0.3s ease-in-out;
        transition: transform 0.3s;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
        color:$color3;
        xcontent: "";
    }
    span::after
    {
        xcontent: "";
    }
    span:before 
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: attr(data-hover);
        transition: color 0.3s;
        transform: rotateX(-90deg);
        transform-origin: 50% 0;
        text-align: center;
        color: transparent;
        text-shadow: none;
    }
    span:hover,
    span:focus
    {
        transition: all 0.3s;
        xcolor: transparent;
        text-shadow: inherit;
        transition: transform 0.3s;
        transform: rotateX(90deg) translateY(-22px);
        xcolor: transparent;
        xtext-shadow: none;
    }
    span:hover:before,
    span:focus:before 
    {
        xtransition: color 0.3s;
        color: $color4;
        text-shadow: inherit;
    }
}