/**
 * Syntax highlighting styles
 */
.highlight {
  xbackground: transparent;
  background-image: linear-gradient(90deg, var(--color8), transparent);
  border-radius: 8px;
  scrollbar-width: thin;

  code
  {
    background-color: transparent;
    background-image: none;
  }

  @extend %vertical-rhythm;

  .highlighter-rouge & {
    xbackground: transparent;
  }

  .c     { color: #998; } // Comment
  .err   { color: #a61717; } // Error
  .k     { color: #4a84b3; } // Keyword
  .o     { color: #d9d9d9; } // Operator
  .p     { color: #ce70b3;   }
  .cm    { color: #2e952e;  } // Comment.Multiline
  .cp    { color: #2e952e; } // Comment.Preproc
  .c1    { color: #2e952e; } // Comment.Single
  .cs    { color: #2e952e; } // Comment.Special
  .gd    { color: #000;  } // Generic.Deleted
  .gd .x { color: #000;  } // Generic.Deleted.Specific
  .ge    {  } // Generic.Emph
  .gr    { color: #a00 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; } // Generic.Inserted
  .gi .x { color: #000;  } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    {  } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    {  color: #4a84b3} // Keyword.Constant
  .kd    { color: #4a84b3; } // Keyword.Declaration
  .kp    {  } // Keyword.Pseudo
  .kr    {  } // Keyword.Reserved
  .kt    { color: #4a84b3;  } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  .s     { color: #ce723b } // Literal.String
  .na    { color: #4a84b3 } // Name.Attribute
  .nb    { color: #0086B3 } // Name.Builtin
  .nc    { color: #4a84b3; } // Name.Class
  .no    { color: #5fb5e9 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900;  } // Name.Exception
  .nf    { color: #d9d9d9;  } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #4a84b3 } // Name.Tag
  .nv    { color: #5fb5e9 } // Name.Variable
  .nx    {color: #d9d9d9}
  .ow    {  } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #099 } // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: #ce70b3 } // Literal.String.Backtick
  .sc    { color: #ce70b3 } // Literal.String.Char
  .sd    { color: #ce70b3 } // Literal.String.Doc
  .s2    { color: #ce723b } // Literal.String.Double
  .dl    { color: #ce723b } 
  .se    { color: #ce70b3 } // Literal.String.Escape
  .sh    { color: #ce70b3 } // Literal.String.Heredoc
  .si    { color: #ce70b3 } // Literal.String.Interpol
  .sx    { color: #ce70b3 } // Literal.String.Other
  .sr    { color: #009926 } // Literal.String.Regex
  .s1    { color: #ce723b } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #5fb5e9 } // Name.Variable.Class
  .vg    { color: #5fb5e9 } // Name.Variable.Global
  .vi    { color: #5fb5e9 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}
