<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper pc-wrapper">
        {{ content }}
      </div>
    </main>

    {% if page.title == "Blog" %}
    <div class="pagination">


            {% if paginator.previous_page %}
            <a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}" class="previous">&lt;&lt;</a>
            <a href="{{ paginator.previous_page_path }}" class="previous">&lt;</a>
            {% endif %}





            {% if paginator.total_pages > 5 %}


                {%- assign previous_previous_page = paginator.previous_page | minus: 1 -%}
                {%- assign next_next_page = paginator.next_page | plus: 1 -%}

                {% if previous_previous_page > 0 %}
                    {% if previous_previous_page == 1 %}
                        <a class="page_number" href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ previous_previous_page }}</a>
                    {% else %}
                        <a class="page_number" href="{{ site.paginate_path | relative_url | replace: ':num', previous_previous_page }}">{{ previous_previous_page }}</a>
                    {% endif %}
                {% endif %}



                {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                        <a class="page_number" href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ paginator.previous_page }}</a>
                    {% else %}
                        <a class="page_number" href="{{ site.paginate_path | relative_url | replace: ':num', paginator.previous_page }}">{{ paginator.previous_page }}</a>
                    {% endif %}
                {% endif %}

                <em class="page_current">{{ paginator.page }}</em>

                {% if paginator.next_page %}
                    <a class="page_number" href="{{ site.paginate_path | relative_url | replace: ':num', paginator.next_page }}">{{ paginator.next_page }}</a>
                {% endif %}

                {% if next_next_page > paginator.next_page and next_next_page <= paginator.total_pages %}
                    <a class="page_number" href="{{ site.paginate_path | relative_url | replace: ':num', next_next_page }}">{{ next_next_page }}</a>
                {% endif %}

            {% else %}
                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <em class="page_current">{{ page }}</em>
                    {% elsif page == 1 %}
                        <a class="page_number" href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ page }}</a>
                    {% else %}
                        <a class="page_number" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
                <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}" class="next last">&gt;&gt;</a>
            {% endif %}

    </div>
    {% endif %}

    {%- include footer.html -%}
  </body>
</html>
