---
layout: default
---

<div class="home">
    {{ content }}
    {%- if site.posts.size > 0 -%}
        {%- for post in site.posts -%}
            <div class="post_block">
                <div class="post_title">
                    <a class="post_link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </div>
                <div class="post_details">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <div>{{ post.date | date: date_format }}</div>
                    {%- if post.categories -%}
                        <div>{{ post.categories | join: ' ' }}</div>
                    {%- endif -%}
                </div>
                <div class="post_excerpt">
                    <div class="post_thumb">
                        <a href="{{ post.url | relative_url }}"><img id="thumb" src="{{ post.thumbnail }}" /></a>
                    </div>
                    <div class="post_excerpt_inner">
                        <div class="post_excerpt_inner_innner">
                            {%- if site.show_excerpts -%}
                                {% assign excerptParts = post.excerpt | split: "<!-- excerpt-start -->" %}
                                {{ excerptParts[1] | strip_newlines | truncatewords: 50 }}
                            {%- endif -%}
                        </div>


                        <div class="button_container_outer">
                            {%- if post.github -%}
                            <div class="button_container">
                                <a href="{{ post.github | relative_url }}" class="post_button">GitHub</a>
                            </div>
                            {%- endif -%}

                            {%- if post.demo -%}
                            <div class="button_container">
                                <a href="{{ post.demo | relative_url }}" class="post_button">Demo</a>
                            </div>
                            {%- endif -%}

                            <div class="button_container">
                                <a href="{{ post.url | relative_url }}" class="post_button">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        {%- endfor -%}
    {%- endif -%}
</div>